*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ruby dir 
./ruby/
!/cb-app/src/com/chargebee/app/api/gen/ruby/
######## OS Specific ############

# Windows
Thumbs.db
Desktop.ini

#OSX
.DS_Store
Icon?
G# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

#Linux
!.gitignore
!.gitattributes
*~
# KDE
.directory
*.rbc

############ Editor Specific ############
# vim
.*.sw[a-z]
*.un~
*~
Session.vim

#netbeans
nbproject/private/
!.netbeans_automatic_build
#eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

/tomcat/logs/*
/tomcat/work/*
/tomcat/temp/*
webapp/WEB-INF/classes/
webapp/WEB-INF/sun-web.xml

#including the .sorting file of jawr which is being excluded by the rules of Linux
!.sorting

#exclude java classes
*.class

enums/

tomcat8/bin/.class_modified
/exp-app/nbproject/private/